<table class="table table-bordered table-hover">
  <thead class="table-light">
    <tr>
      <th>Название</th>
      <th>Цена</th>
      <th>Цена со скидкой</th>
      <th>Рейтинг</th>
      <th>Отзывы</th>
    </tr>
  </thead>
  <tbody>
    {% for product in products %}
    <tr>
      <td>{{ product.name }}</td>
      <td>{{ product.price }}₽</td>
      <td>{{ product.discounted_price }}₽</td>
      <td>{{ product.rating }}</td>
      <td>{{ product.review_count }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
